<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>会员登录页面</title>
        <link type="text/css" rel="stylesheet" href="/css/style.css">
        <script type="text/javascript" src="/script/jquery-1.7.2.js"></script>

    </head>
    <body>
    <div id="header">
        <span class="wel_word">
            <img  src="/img/logo.gif">
            欢迎登陆
        </span>
        <div>
            <a href="/food/page/1">返回首页</a>
        </div>
    </div>

    <div class="login_banner">

        <div id="l_content">
            <span class="login_word">欢迎登录</span>
        </div>

        <div id="content">
            <div class="login_form">
                <div class="login_box">
                    <div class="tit">
                        <h1>会员注册信息</h1>
                        <a href="/user/register.html">立即注册</a>
                    </div>
                    <div class="msg_cont">
                        <b></b>
                        <span class="errorMsg" th:text="${msg}==null?${'请输入用户名和密码'}:${msg}"></span>
                    </div>
                    <div class="form">
                        <form action="/user/login" method="post">
                            <label>用户名称：</label>
                            <span>
                                <input class="itxt" type="text" placeholder="请输入用户名" th:value="${username}"
                                       autocomplete="off" tabindex="1" name="username"/>
                            </span>

                            <br/><br/>
                            <label>用户密码：</label>
                            <input class="itxt" type="password" placeholder="请输入密码"
                                   autocomplete="off" tabindex="1" name="password"/>
                            <br/><br/>
                            <input type="submit" value="登录" id="sub_btn"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--    静态包含页脚内容-->
    <div th:include="common/common::footer"></div>
    </body>
</html>